<div class="container container-wide">
<%= link_to 'Back to all preservations', preservations_path, class: 'btn btn-primary btn-lg mb-3' %>
</div>

<div class="container container-wide">
<h1 class="mb-4">New preservation</h1>
<%= render 'form', preservation: @preservation %>
</div>
